DirectoryIndex index.html index.php
RewriteEngine On
RewriteBase /

# Pagina principal
RewriteRule ^$ grow.alquimistasmagicos.com.br/index.html [L]

# API do ESP32
RewriteRule ^api/(.*)$ grow.alquimistasmagicos.com.br/api/$1 [L,QSA]

# Qualquer outro arquivo dentro da pasta web
RewriteCond %{REQUEST_URI} !^/grow\.alquimistasmagicos\.com\.br/
RewriteCond %{DOCUMENT_ROOT}/grow.alquimistasmagicos.com.br%{REQUEST_URI} -f
RewriteRule ^(.+)$ grow.alquimistasmagicos.com.br/$1 [L]

# Bloqueia .ino e .sql
<FilesMatch "\.(ino|sql)$">
    Require all denied
</FilesMatch>
