DirectoryIndex index.html index.php

# Bloqueia acesso a arquivos sensíveis
<FilesMatch "\.(ino|sql)$">
    Require all denied
</FilesMatch>

# Redireciona para a subpasta do painel web
RewriteEngine On
RewriteBase /

# Nao redireciona se ja estiver na pasta correta
RewriteCond %{REQUEST_URI} !^/grow\.alquimistasmagicos\.com\.br/ [NC]

# Nao redireciona arquivos que existem na raiz (como .htaccess)
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.*)$ grow.alquimistasmagicos.com.br/$1 [L]
